<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
	<head>
		<meta charset="UTF-8">
		<title>Pet Clinic Owner Index</title>
	</head>
	<body>
		<h2 th:text="${'Pet Clinic - Owner Index Page'}">Pet Clinic - Owner Index Page</h2>
		<table class="table table-striped">
			<tr>
				<th style="width: 120px;">Id</th>
				<th>Name</th>
			</tr>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner.id}">77</td>
				<td th:text="${owner.surname} + ', ' + ${owner.givenName}">Owner name</td>
			</tr>
		</table>
	</body>
</html>
